
<div class="image" [ngStyle]="{ 'background-image': getUrl() }">
  <div class="row">
  <div>    
      <h2 style="padding:15px;color:white;text-align: center">
        <b>Welcome to </b>User Activity Monitoring
      </h2>
      <mat-card>
        <mat-card-content>
          <i class="fa fa-clock-o" aria-hidden="true"></i>

          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <p>Please login to continue</p>
            <mat-form-field class="full-width-input">
              <input
                matInput
                placeholder="User"
                formControlName="userName"
                required
              />
              <mat-error *ngIf="isFieldInvalid('userName')">
                Please enter your username
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input
                matInput
                type="password"
                placeholder="Password"
                formControlName="password"
                required
              />
              <mat-error *ngIf="isFieldInvalid('password')">
                Please enter your password
              </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary">Login</button>
          </form>
          <div *ngIf="!showErrorMessage && isLoader">
            <p class="valid">{{ msg }}</p>
            <div
              class="spinner-border text-primary"
              style="width: 3rem; height: 3rem;"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div *ngIf="showErrorMessage">
            <p class="invalid">{{ msg }}</p>
            <p></p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
